.clockdate-wrapper {
    background-color: #F3C92F;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#clock {
    background-color: #F3C92F;
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

    #clock span {
        color: #888;
        text-shadow: 0px 0px 1px #333;
        font-size: 30px;
        position: relative;
        top: -27px;
        left: -10px;
    }

#date {
    letter-spacing: 5px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #fff;
    padding: 5px;
    background-color: #0E1A27;
}
